**EXP #1 | Raghad Afaghani 1192423**





---

In [ ]:
import pandas as pd
# create a simple list
a = [1, 7, 2]
# create series from a list
my_Series = pd.Series(a)
print(my_Series)

0    1
1    7
2    2
dtype: int64

In [ ]:
import pandas as pd
# a simple dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}
# create series from dictionary
my_Series = pd.Series(calories)
print(my_Series)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd
# Initialize data to a series.
d = pd.Series([10, 20, 30, 40])
# creates Dataframe.
df = pd.DataFrame(d)
# print the data.
print(df)

    0
0  10
1  20
2  30
3  40

In [ ]:
import pandas as pd
# initialize the data of lists.
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Age': [20, 21, 19, 18]}
# Create DataFrame
df = pd.DataFrame(data)
# Print the output.
print(df)

     Name  Age
0   Ahmad   20
1     Ali   21
2    Omar   19
3  Hamzah   18

In [ ]:
import pandas as pd
data = {
"calories": [420, 380, 390],
"duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df)

   1  a  c1
0  2  a  c2
1  3  b  c3
2  4  d  c4

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.tail())

   1  a  c1
0  2  a  c2
1  3  b  c3
2  4  d  c4

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.shape)

(3, 3)

 DataFrame is a tuple of array dimensions that tells
the number of rows and columns of a given DataFrame

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       3 non-null      int64
 1   a       3 non-null      object
 2   c1      3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

info() method provides the
essential details about your dataset, such as the number of rows and columns, the
number of non-null values, what type of data is in each column, and how much memory
your DataFrame is using.

In [ ]:
import pandas as pd
df = pd.DataFrame({'col_1': list(range(1, 11)), 'col_2':
list(range(11, 21)), 'col_3': list(range(21, 31)), 'col_4':
list(range(31, 41)), 'col_5': list(range(41, 51)), 'col_6':
list(range(51, 61)), 'col_7': list(range(61, 71)), 'col_8':
list(range(71, 81)), 'col_9': list(range(81, 91))})


df.index = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6',
'row_7', 'row_8', 'row_9', 'row_10']



print(df.iat[1, 2])

22

Get value at specified row/column pair

In [ ]:
import pandas as pd
# Create a sample dataframe
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Age': [28, 23, 35, 31],
'Gender': ['M', 'F', 'M', 'F']
}
df = pd.DataFrame(Biodata)
# Save the dataframe to a CSV file
df.to_csv('Biodata.csv', index=False)

In [ ]:
import pandas as pd
# Define a dictionary containing Students data
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Height': [5.1, 6.2, 5.1, 5.2],
'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)

# Declare a list that is to be converted into a column
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']
# Using 'Address' as the column name and equating it to the list
df['Address'] = address
# Observe the result
print(df)

     Name  Height Qualification
0   Ahmad     5.1           Msc
1     Ali     6.2            MA
2    Omar     5.1           Msc
3  Hamzah     5.2           Msc
     Name  Height Qualification    Address
0   Ahmad     5.1           Msc      Delhi
1     Ali     6.2            MA  Bangalore
2    Omar     5.1           Msc    Chennai
3  Hamzah     5.2           Msc      Patna

In [ ]:
# Define a dictionary containing Students data
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Height': [5.1, 6.2, 5.1, 5.2],
'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
'Age': [21, 23, 24, 21]}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
# dropping passed columns
df1 = df.drop(["Height"], axis = 1)

# Observe the result
print(df)
print(df1)

     Name  Height Qualification  Age
0   Ahmad     5.1           Msc   21
1     Ali     6.2            MA   23
2    Omar     5.1           Msc   24
3  Hamzah     5.2           Msc   21
     Name Qualification  Age
0   Ahmad           Msc   21
1     Ali            MA   23
2    Omar           Msc   24
3  Hamzah           Msc   21

In [ ]:
import pandas as pd
technologies= {
'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
'Fee' :[22000,25000,23000,24000,26000],
'Duration':['30days','50days','35days', '40days','55days'],
'Discount':[1000,2300,1000,1200,2500]
}
df = pd.DataFrame(technologies)
print(df)
# New list to append Row to DataFrame
list = ["Hyperion", 27000, "60days", 2000]
df.loc[len(df)] = list
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days      2500
    Courses    Fee Duration  Discount
0     Spark  22000   30days      1000
1   PySpark  25000   50days      2300
2    Hadoop  23000   35days      1000
3    Python  24000   40days      1200
4    Pandas  26000   55days      2500
5  Hyperion  27000   60days      2000

Adding a new row to the end of the Pandas DataFrame.

In [ ]:
import pandas as pd
import numpy as np
technologies = {
'Courses':["Spark","PySpark","Hadoop","Python"],
'Fee' :[20000,25000,26000,22000],
'Duration':['30day','40days',np.nan, None],
'Discount':[1000,2300,1500,1200]
}
indexes=['r1','r2','r3','r4']
# Using drop() to delete rows based on column value
df.drop(df[df['Fee'] >= 24000].index, inplace = True)
# Remove rows
df2 = df[df.Fee >= 24000]
# Using loc
df2 = df.loc[df["Fee"] >= 24000]

df = pd.DataFrame(technologies)
print(df)
print("=====================")
print(df2)
print("=====================")

   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000      NaN      1500
3   Python  22000     None      1200
=====================
Empty DataFrame
Columns: [Courses, Fee, Duration, Discount]
Index: []
=====================

Alternatively, you can also write the same statement by using the field name 'index'

In [ ]:
import pandas as pd
# Create two sample DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A0', 'A1', 'A5', 'A2'],
'B1': ['B4', 'B5', 'B6', 'B1'],
'C1': ['C4', 'C5', 'C6', 'C1'],
'D1': ['D4', 'D5', 'D6', 'D1']})
# Concatenate the DataFrames vertically
result = pd.concat([df1, df2])
df = pd.merge(df1, df2,how='outer')
print(result)
print("===========================")
print(df)

print("===========================")
df3 = df1.merge(df2,on='A', how='right',indicator=True)
df = df3.loc[df3['_merge']
== 'right_only', 'A']
d = df2[df2['A'].isin(df)]
print(df)

    A    B    C    D   B1   C1   D1
0  A0   B0   C0   D0  NaN  NaN  NaN
1  A1   B1   C1   D1  NaN  NaN  NaN
2  A2   B2   C2   D2  NaN  NaN  NaN
3  A3   B3   C3   D3  NaN  NaN  NaN
0  A0  NaN  NaN  NaN   B4   C4   D4
1  A1  NaN  NaN  NaN   B5   C5   D5
2  A5  NaN  NaN  NaN   B6   C6   D6
3  A2  NaN  NaN  NaN   B1   C1   D1
===========================
    A    B    C    D   B1   C1   D1
0  A0   B0   C0   D0   B4   C4   D4
1  A1   B1   C1   D1   B5   C5   D5
2  A2   B2   C2   D2   B1   C1   D1
3  A3   B3   C3   D3  NaN  NaN  NaN
4  A5  NaN  NaN  NaN   B6   C6   D6
===========================
2    A5
Name: A, dtype: object

In [ ]:
import pandas as pd
sales_data = pd.DataFrame({
"name":["Ahmad","Ali","Nour","Mohammad","Hamzah","Omar","Rami","Hani",
"Salem","Anas","Bilal"]
,"region":["East","North","East","South","West","West","South","West",
"West","East","South"]
,"sales":[50000,52000,90000,34000,42000,72000,49000,55000,67000,65000,
67000]
,"expenses":[42000,43000,50000,44000,38000,39000,42000,60000,39000,44000,45000]})
print(sales_data)
print("===========================")

stats1 = sales_data.describe(include='all')
print(stats1)
print("===========================")

        name region  sales  expenses
0      Ahmad   East  50000     42000
1        Ali  North  52000     43000
2       Nour   East  90000     50000
3   Mohammad  South  34000     44000
4     Hamzah   West  42000     38000
5       Omar   West  72000     39000
6       Rami  South  49000     42000
7       Hani   West  55000     60000
8      Salem   West  67000     39000
9       Anas   East  65000     44000
10     Bilal  South  67000     45000
===========================
         name region         sales      expenses
count      11     11     11.000000     11.000000
unique     11      4           NaN           NaN
top     Ahmad   West           NaN           NaN
freq        1      4           NaN           NaN
mean      NaN    NaN  58454.545455  44181.818182
std       NaN    NaN  15654.798858   6226.045002
min       NaN    NaN  34000.000000  38000.000000
25%       NaN    NaN  49500.000000  40500.000000
50%       NaN    NaN  55000.000000  43000.000000
75%       NaN    NaN  67000.000000  44500.000000
max       NaN    NaN  90000.000000  60000.000000
===========================

In [ ]:
import pandas as pd
dataMatrix = [(65,75,74,73,95,76,62,100),
(101,102,103,107,157,160,191,192)];
dataFrame = pd.DataFrame(data=dataMatrix);
kurt = dataFrame.kurt(axis=1);
print("Data:");
print(dataFrame);
print("Kurtosis:");
print(kurt);

Data:
     0    1    2    3    4    5    6    7
0   65   75   74   73   95   76   62  100
1  101  102  103  107  157  160  191  192
Kurtosis:
0   -0.246357
1   -2.044655
dtype: float64